{% extends 'base.html.twig' %}

{% block title %}Liste des clients
{% endblock %}

{% block body %}
	<style>
		body {
			background: Gainsboro;
		}
		.table-dark {
			text-align: center;
			margin-left: 10%;
			width: 80%;
			background-color: yellow;

		}
		tr:hover {
			color: grey;
		}
		a {
			text-decoration: none;
			color: white;

		}
		a:hover {
			color: skyblue;
		}
		.CreateNew {
			margin-left: 600px;
			color: black;
			font-family: Trebuchet;
			font-size: 20px;
			font-weight: bold;
		}
		h1 {
			margin-top: 20px;
			margin-bottom: 60px;
			font-variant: small-caps;
		}
		.button_label,
		#button_label {
			margin-left: 20em;
		}
	</style>
	<h1 align="center">Liste des Clients</h1>

	<table class="table table-dark">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Tel</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for client in clients %}
				<tr>
					<td>{{ client.id }}</td>
					<td>{{ client.nom }}</td>
					<td>{{ client.prenom }}</td>
					<td>{{ client.tel }}</td>

					<td>
						<a href="{{ path('client_show', {'id': client.id}) }}">
							<button type="button" class="btn btn-warning">show
							</button>
						</a>
						<a href=" {{ path('client_edit', {'id': client.id} ) }}">
							<button type="button" class="btn btn-success">edit
							</button>
						</a>

						{{ include('client/_delete_form.html.twig', {'button_label': 'delete'} ) }}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="8">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('client_new') }}" class="CreateNew">
		<button type="button" class="btn btn-primary">Créer un nouveau client</button>
	</a>
{% endblock %}
